{{stacked-area-graph data=model}}

<p>num sets: {{length}}</p>
<p>valuesLength: {{valuesLength}}</p>

<div>
	<h2>Data Values</h2>
	<button {{action "pushValue"}}>Push</button>
	<button {{action "popValue"}}>Pop</button>

</div>
<div>
	<h2>Data Sets</h2>
	<button {{action "pushSet"}}>Push</button>
	<button {{action "popSet"}}>Pop</button>
</div>
