<div class="row">
	<div class="col-md-9">
		<div class="chart">
			{{stacked-area-graph
				data=personalResults
				yTickFormat="d" 
				y2TickFormat="d"
				xDomainLow=lowBound
				xDomainHigh=highBound
				disabled=disabled
				setDisabled="setDisabled"
			}}
		</div>

		<div class="context-brush">
			{{stacked-area-brush
				data=personalResults
				setContext="setContext"
			}}
		</div>
	</div>
	<div class="col-md-3">
		<div>
			<h3>Practice {{worstStep.label}}</h3>
			<p>Your {{worstStep.label}} takes {{to-percent worstPercentDifference}} more of your time than the fastest {{solveMethod.name}} users.</p>
		</div>
		<div class="chart">
			{{relative-pie-chart
		      own=pieData 
		      ideal=globalBreakdown
		    }}
		</div>
	</div>

</div>


<div>
	{{!pie-chart
		data=pieData
		disabled=disabled
		showLegend=false
	}}
	{{!pie-chart
		data=globalBreakdown
		disabled=disabled
		showLegend=false
	}}
</div>
