<h4>{{solve.scramble}}</h4>

<div>
	{{#if solveMethod.isMultiStep}}
		{{status-pills pills=solveMethodStepNames currentIndex=solve.currentStepIndex}}
	{{/if}}
	<h2>{{#if solveMethod.isMultiStep}}<small class="text-primary">{{ms-to-s time}}</small> / {{/if}}{{ms-to-s totalTime}}</h2>
</div>

<button class="btn btn-primary" {{action "step"}}>Step</button>
<button class="btn btn-warning" {{action "stop"}}>Stop</button>

{{#each solve.stepResults}}
	{{step.name}}: {{ms-to-s time}}
{{/each}}


{{#placeholder-panel}}
	Start/stop controls
{{/placeholder-panel}}

{{#placeholder-panel}}
	Tabular results (use Ember Table)
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th> </th>
				<th>Total</th>
				{{#if solveMethod.isMultiStep}}
					{{#each solveMethod.steps}}
						<th>{{name}}</th>
					{{/each}}
				{{/if}}
			</tr>
		</thead>
		{{#each solves}}
			<tr>
				<td class="controls"></td>
				<td>
					{{ms-to-s totalTime}}
				</td>
				{{#each stepResults}}
					<td>{{ms-to-s time}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</table>
{{/placeholder-panel}}

{{#placeholder-panel}}
	Stacked area graph
{{/placeholder-panel}}
